
{% extends "./base/base.html" %}
{% load static %}


{% block header %}
	{% include "./base/header.html" %}
{% endblock header %}

{% block content %}
	<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					<img src="{% if bouquet.image %}{{ bouquet.image.url }}{% endif %}" alt="{{bouquet.name}}" class="card__img">
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{ bouquet.name }}</div>
					<div class="card__block_price">{{ bouquet.get_price|floatformat:0 }} руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							{% for component, quantity in bouquet.composition %}
								<span class="card_items_intro">
									{{component.name}} - {{quantity}} шт.
								</span>
							{% endfor %}
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								{{ bouquet.description }}
							</span>
						</div>
					</div>
					<button class="btn largeBtn card__btn" onclick="window.location.href='{%url 'create_order'%}?bouquet_id={{ bouquet.id }}'">Заказать букет</button>
				</div>
			</div>
		</div>
	</section>
	<section id="consultation">
		<div class="container">
			<div class="consultation">
				<div class="title consultation__title">Оставьте заявку на консультацию</div>
				<form action="{% url 'consultation' %}" method='POST' class="consultation__form">
					{% csrf_token %}
					<input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
					<input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
					<button type="submit" class="consultation__form_btn">Отправить</button>
				</form>
			</div>
		</div>
	</section>
{% endblock content %}

{% block footer %}
	{% include "./base/footer.html" %}
{% endblock footer %}




