{% extends "./base/base.html" %}
{% load static %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock header %}

{% block content %}

<section id="catalog">
    <div class="container p100">
        <div class="catalog">
            <div class="title">Все букеты</div>
            <div class="catalog__block">
                <div class="recommended__elems ficb recommended__elems_first">
                    {% for bouquet in first_row %}
                    <div class="recommended__block"  style="background: url('{{ bouquet.image.url }}') no-repeat center bottom / cover;">
                        <div class="recommended__block_elems ficb" >
                            <span class="recommended__block_intro">{{ bouquet.name }}</span>
                            <span class="recommended__block_price">{{ bouquet.get_price|floatformat:0 }} руб</span>
                        </div>  
                    </div>
                    {% endfor %}
                </div>
                {% if second_row %}
                <div class="recommended__elems ficb recommended__elems_sec">
                    {% for bouquet in second_row %}
                    <div class="recommended__block" style="background: url('{{ bouquet.image.url }}') no-repeat center bottom / cover;">
                        <div class="recommended__block_elems ficb">
                            <span class="recommended__block_intro">{{ bouquet.name }}</span>
                            <span class="recommended__block_price">{{ bouquet.get_price|floatformat:0 }} руб</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <button class="btn largeBtn catalog__btn">Показать ещё</button>
            </div>
        </div>
    </div>
</section>

<section id="consultation">
    <div class="container">
        <div class="consultation">
            <div class="title consultation__title">Оставьте заявку на консультацию</div>
            <form action="{% url 'consultation' %}" method="POST" class="consultation__form">
                {% csrf_token %}
                <input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
                <input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
                <button type="submit" class="consultation__form_btn">Отправить</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}
    {% include "./base/footer.html" %}
{% endblock footer %}